<div class="page-header">
  <h1>All of the Trips</h1>
</div>

<%= link_to "Create a new trip", new_trip_path, :class => "btn btn-success" %>

<% @trips.each do |trip| %>
<div class="trip">
  <strong>Trip creator name</strong>
  <strong><%= trip.user.first_name %></strong>
  <br/>
  <strong>Trip name</strong>
  <strong><%= trip.name %></strong>
  <p><%= trip.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(trip.created_at) + " ago", trip %>
    <span class="admin">
      | <%= link_to "Edit", edit_trip_path(trip) %> |
      <%= link_to "Delete", trip, :method => :delete, :data => { :confirm => "Are you sure you want to delete this trip?"} %>
    </span>
  </div>

</div>
<% end %>


